@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Instrument+Serif:ital@0;1&display=swap');

*{
    font-family: "Didact Gothic", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
    background-color: #000;
}

.container{
    padding-left: 19%;
    padding-right: 19%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 15px 0;
}

nav{
    background-color: transparent; backdrop-filter: blur(35px);
    font-weight: lighter;
    color: #f6f1f1;
    font-size: 25px;
    padding-top: 15px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f1f1;
}

nav li{
    height: 50px;
    color: #f6f1f1;
}

nav a{
    height: 100%;
    padding: 0 30px;
    margin-right: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 50px;
    animation: fadeIn 0.5s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    color: #f6f1f1;
}

nav a:link,
nav a:visited {
    text-decoration: none; 
    padding: 0 30px;
}

a:link, a:visited{
    text-decoration: none;
}

.bento_container a:link, .bento_container a:visited{
    text-decoration: none;
    color: #000;
}

.card_container a:link, .card_container a:visited{
    text-decoration: none;
    color: #000;
}

nav a:hover{
    background-color: #f6f1f12d;
}

nav .logo:hover{
    color: #f6f1f1;
    background-color: #000000;
}

nav li:first-child{
    margin-right: 10%;
}

.low_opacity_bg{
    border-radius: 50px;
    background-color: #f6f1f111;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 40vh;
    width: 250px;
    z-index: 999;
    background-color: #f6f1f1;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    left: auto;
    animation: fadeIn 0.5s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.sidebar li{
    width: 100%;
    color: #000;
}

.sidebar a{
    width: 100%;
    color: #000;
}

.MenuButton{
    text-decoration: none;
    display: none;
    color: #000;
}

.HideOnMobile{
    color: #f6f1f1;
}

.logo{
    font-family: "Instrument Serif", serif;
    color: #f6f1f1;
    font-size: 45px;
    
    font-weight: lighter;
    border: none;
}

.icons{
    padding-right: 7px;
}

section{
    padding-bottom: 10%;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    max-width: 380px;
    object-fit: cover;
    vertical-align: middle;
}

.wrapper{
    padding: 8px 12px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.bento_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 50px;
    max-width: 100%; /* Ensure it doesn’t exceed the screen width */
    padding: 10px; /* Small padding inside */
}

.intro{
    flex: 1;
    color: #f6f1f1;
}

.flex1{
    flex: 1;
}

.hero-section{
    font-size: 32px;
    font-family: "Instrument Serif", serif;
}

h1, ul{
    padding: 10px;
    color: #f6f1f1;
}

ul{
    font-size: 20px;
}

.big-font{
    font-size: 42px;
    font-style: italic;
    font-family: "Instrument Serif", serif;
}

.big-font1{
    font-size: 23px;
    font-family: "Instrument Serif", serif;
}

.bold{
    font-weight: bold;
}

p{
    font-size: 20px;
    color: #f6f1f1;
    max-width: 500px; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    margin: 0; 
}

.p1{
    max-width: 1100px;
    margin: 0; 
}

.boarders{
    border-left: 1px solid #f6f1f163;
    border-right: 1px solid #f6f1f163;
}

.margin_bottom{
    margin-bottom: 5%;
}

.margin_bottom2{
    margin-bottom: 2%;
}

.margin_top{
    margin-top: 5%;
}

.text{
    padding-left: 8%;
    padding-right: 8%;
}

.padding_left{
    padding-left: 5%;
}

.bento_container{
    display: flex;
    height: 400px;
    width: 100%;
    gap: 1rem;
}

.col_left{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.col_right{
    flex: 1;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row{
    flex: 1;
    border-radius: 50px;
}

.row2{
    display: flex;
    border: none;
    gap: 1rem;
}

.bg_white{
    background-color: #f6f1f1;
}

.row_col{
    flex: 1;
    border-radius: 50px;
    background-color: #f6f1f1;
}

a{
    display: inline-table;
}

.bento_text{
    padding-left: 25px;
    margin-top: 20px;
}

.card_text{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-top: 5px;
}

.card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding-left: 0;
    padding-right: 0;
}

.card{
    overflow: hidden;
    width: 100%; 
    max-width: 480px;
    margin: auto; 
    margin-bottom: 6%;
}

.color_black{
    color: #000;
}

.color_white{
    color: #f6f1f1;
}

.small_p{
    font-size: 15px;
    max-width: 480px;
}

.small_img{
    max-width: 110px;
    padding-right: 25px;
    padding-top: 25px;
}

.small_img1{
    max-width: 150px;
    padding-right: 25px;
    padding-left: 25px;
}

.small_img2{
    max-width: 150px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.small_img3{
    max-width: 110px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.padding_bottom{
    padding-bottom: 50px;
}

.connect{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns links to the left */
    gap: 10px; /* Adds spacing between links */
    padding: 0; /* Removes unwanted padding */
    margin: 0; /* Removes any extra space */
}

.connect a, .connect a:link, .connect a:visited{
    text-decoration: underline;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 20px;
    color: #f6f1f1;
    animation: fadeIn 0.5s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    display: inline-block; /* Prevents full-width behavior */
    width: fit-content; /* Ensures the width matches the text only */
    white-space: nowrap; /* Prevents the text from wrapping */
}

.connect a:hover{
    background-color: #f6f1f12d;
}

footer{
    color: #f6f1f1;
    display: flex;
    justify-content: center;
}

footer h3{
    font-size: 16px;
    font-weight: lighter;
    font-family: "Instrument Serif", serif;
}

.font1{
    font-family: "Didact Gothic", serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 1800px){
    .container{
        padding-left: 12%;
        padding-right: 12%;
    }
    .logo{
        font-size: 32px;
    }
}

@media(min-width: 1350px){
    .HideOnMobile2{
        display: none;
    }
}

@media(max-width: 1400px){
    .bento_text{
        padding-bottom: 15px;
    }
}

@media(max-width: 1350px){
    .container{
        padding-left: 9%;
        padding-right: 9%;
    }
    .logo{
        font-size: 30px;
    }
    nav{
        font-size: 20px;
    }
    nav ul{
        font-size: 16px;
    }
    .HideOnMobile1{
        display: none;
    }
    .small_p{
        font-size: 12px;
        max-width: 260px;
    }
    .small_img{
        max-width: 85px;
        padding-right: 10px;
        padding-top: 15px;
    }
}

@media (max-width: 1350px) and (min-width: 768px) {
    .card_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .card {
        width: 100%; 
        max-width: 480px;
        margin: 0 auto; 
    }
}

@media(max-width: 1100px){
    .container{
        padding-left: 8%;
        padding-right: 8%;
    }
    .logo{
        font-size: 20px;
    }
    nav{
        font-size: 15px;
    }
    nav ul{
        font-size: 14px;
    }
}

@media(max-width: 960px){
    .HideOnMobile{
        display: none;
    }
    .MenuButton{
        display: block;
    }
    body{
        padding: 0;
    }
    .sidebar{
        width: 50%;
    }
    nav a{
        border: none;
    }
    .boarders{
        border-left: none;
        border-right: none;
    } 
    .container{
        padding-left: 10%;
        padding-right: 10%;
    }  
    .logo{
        font-size: 35px;
    }
    nav{
        font-size: 20px;
    }
}

@media(max-width: 550px){
    .container{
        padding-left: 8%;
        padding-right: 8%;
    }
    .sidebar{
        width: 70%;
    }
    nav{
        font-size: 20px;
    }
    .logo{
        font-size: 30px;
    }
    .boarders{
        border-left: none;
        border-right: none;
    }
    nav a{
        border: none;
    }
    .text{
        padding-left: 4%;
        padding-right: 4%;
    }
    .big-font{
        font-size: 25px;
        font-style: italic;
        font-family: "Instrument Serif", serif;
    }.hero-section{
        font-size: 22px;
        font-family: "Instrument Serif", serif;
    }
    p{
        font-size: 15px;
        max-width: 250px; 
    }
    ul{
        font-size: 15px;
    }
    h1{
        font-size: 1rem;
    }
}